
header {
	 text-align: center;
     background: url("Russia.jpg");
     background-size: cover;
     color: red;
}

a {
	color: white;
}

h1 {
	font-size: 8em;
}

img {
	height: 15em;
	margin: 3em 0px 0px 0px;
	border: 0.5em solid white;
	border-radius: 10em;
}

body {
	text-align: center;
	background-size: cover;
	background-position: center;
	color: white;
	font-family: Helvetica, Arial;
	background-color: black; 
}

ul {
	padding: 10px;
	background: rgba(0,0,0,0.5);
}

li {
	display: inline;
	padding: 0px 10px 0px 10px;
}

article {
	max-width: 95em;
	padding: 2em;
	margin: 0 auto;
}

@media (max-width: 95em) {
	body {
		background: black;
	}

	h1 {
		font-size: 36px;
    }
    li {
    	display: block;
        padding: 5px;
    }
}

p{
	font-size: 3em;
}

div {
	height: 10em;
	width: 10em;
	border-color: black;
	border-style: solid;
	border-width: 0.1em;
	border-radius: 3em;
	margin: auto;
	text-align: center;
	line-height: 7em;
}

input {
	border: 0;
	padding: 1em;
	font-size: 1em;
	border-radius: 8em;
	text-align: center;
}

input[type="submit"] {
	background: red;
	color: black;
	border-radius: 8em;

}
